.home-container {
    display: list-item;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .head {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .sub-head {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .admin-login-section {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 300px;
  }

  .user-reservation-section {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 300px;
  }

  .check-reservation-section {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 300px;
    margin-top: 30px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }

  /* Style form inputs */
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  /* Style submit button */
.submit-button,
.book-button,
.check-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 25 px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto; 
  
}
.book-button-link{
  text-decoration: none; 
}
  .check-button
  .submit-button:hover,
  .book-button:hover {
    background-color: #273027;
  }